<app-child [data]="clientX"></app-child>

<p>
  <b>detectChange: </b>
  <span>update view to component đó xuống các component con</span>
</p>
<p>
  <b>markForCheck: </b>
  <span>update view to component đó lên component cha</span>
</p>
<p>
  <b>detack: </b>
  <span>tách component đó và các con ra khỏi change detection tree</span>
</p>
<p>
  <b>reattack: </b>
  <span>gắn component đó và các con vào change detection tree</span>
</p>
<p>
  <b>checkNoChanges: </b>
  <span
    >check component đó và các component con, nếu có change thì sẽ throw
    error</span
  >
</p>
